<div class="contact-container" data-aos="fade-up">
  <h2>📬 Contact Me</h2>

  <form  (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <input
        type="text"
        placeholder="Your Name"
        formControlName="name"
        [class.invalid]="submitted "
      />
      <div *ngIf="submitted" class="error">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <input
        type="email"
        placeholder="Your Email"
        formControlName="email"
        [class.invalid]="submitted"
      />
      <div *ngIf="submitted " class="error">
        Enter a valid email.
      </div>
    </div>

    <div class="form-group">
      <textarea
        rows="5"
        placeholder="Your Message"
        formControlName="message"
        [class.invalid]="submitted "
      ></textarea>
      <div *ngIf="submitted" class="error">
        Message must be at least 10 characters.
      </div>
    </div>

    <button type="submit">Send Message</button>
  </form>
</div>

