.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://wallpaperaccess.com/full/5651980.jpg);
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
}
